body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    color: #242525;
    }

#app {
    position: relative;
    width: 100%;
    padding: 20px;
    min-height: 100vh;
}

.shop { 
    background: rgb(8,212,157);
    background: -moz-linear-gradient(90deg, rgba(8,212,157,1) 0%, rgba(18,142,184,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(8,212,157,1) 0%, rgba(18,142,184,1) 100%);
    background: linear-gradient(90deg, rgba(8,212,157,1) 0%, rgba(18,142,184,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#08d49d",endColorstr="#128eb8",GradientType=1);
}

.food {
    transition: 1s;
    background: rgb(244,184,64);
    background: -moz-linear-gradient(90deg, rgba(244,184,64,1) 0%, rgba(50,208,196,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(244,184,64,1) 0%, rgba(50,208,196,1) 100%);
    background: linear-gradient(90deg, rgba(244,184,64,1) 0%, rgba(50,208,196,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4b840",endColorstr="#32d0c4",GradientType=1);
}

.view {
    width: 1000px;
    margin: 0px auto;
}

.row {
    display: flex;
    flex-direction: row;
}

.spread {
    justify-content: space-between;
}

.col {
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    padding: 0px;
    margin: 0px;
}

button {
    border: none;
    background-color: transparent;
    transition: 0.5s;
}

button:focus {outline: #08d49d 1px;}

/* First frame at beginning. Set initial state */
.fade-enter {
    opacity: 0;
}

/* Set up transition. Do not set opacity 1 */
.fade-enter-active {
    transition: opacity 0.5s;
}

/* Nothing needed. Opacity 1 is default */
.fade-leave {

}

/* Set up the end result. You need to set opacity: 0 as 0 is not default */
.fade-leave-active {
    transition: opacity 0.5s;
    opacity: 0;
}

li, ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}